/* .deck-card {
  background-color: white;
  color: var(--flashy-blue);
  padding: 10px;
  margin: 20px auto;
  width: 400px;
  box-shadow: 5px 5px 5px #cecece;
}

.deck-header {
  margin: 10px;
} */

.study-button {
  background-color: var(--flashy-teal);
  color: white;
  border-radius: 8px;
  width: 250px;
  height: 100px;
  font-size: 1.5em;
}