@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Rokkitt&display=swap');

:root {
  --flashy-blue: #22223B;
  --flashy-red: #FF4000;
  --flashy-yellow: #FAFF81;
  --flashy-teal: #437C90;
  --flashy-light-blue: #F5F5FA;
  --flashy-gray: #686868;
}

body {
  background-color: var(--flashy-light-blue);
}

.App {
  text-align: center;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 18px;
  color: var(--flashy-blue);
}

.layout {
  margin-top: 100px;
}

button {
  color: white;
  background-color: var(--flashy-teal);
  border: none;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

.card, .add-card {
  background-color: white;
  color: var(--flashy-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 800;
  box-shadow: 5px 5px 5px #cecece;
}

.add-link, .add-link:visited {
  color: var(--flashy-gray);
  text-decoration: none;
}

input, textarea, button {
  font-family: inherit;
}

input {
  padding: 20px;
  font-size: 1.5em;
}

.auth-form {
  display: grid;
  margin: 0 50px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 150px 1fr;
}

.signup-submit, .signin-submit {
  font-size: 1.5em;
}

.bottom-link, .bottom-link:visited {
  color: var(--flashy-gray);
  font-weight: 800;
}

@media (min-width: 460px) {
  .auth-form {
    grid-template-columns: auto 90px 170px 90px auto;
  }
}
/* font-family: 'Rokkitt', serif; */