.signup-form {
  grid-template-rows: repeat(4, 50px);
}

.signup-input {
  grid-column: 1 / 4;
}

.signup-username {
  grid-row: 1 / 2;
}

.signup-email {
  grid-row: 2 / 3;
}

.signup-password {
  grid-row: 3 / 4;
}

.signup-submit {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

@media (min-width: 460px) {
  .signup-input {
    grid-column: 2 / 5;
  }

  .signup-submit {
    grid-column: 3 / 4;
  }
}