.signup-form {
  grid-template-rows: repeat(4, 50px) 20px 50px;
}

.signup-input, .password-message {
  grid-column: 1 / 4;
}

.signup-username {
  grid-row: 1 / 2;
}

.signup-email {
  grid-row: 2 / 3;
}

.signup-password {
  grid-row: 3 / 4;
}

.signup-confirmation {
  grid-row: 4 / 5;
}

.password-message {
  grid-row: 5 / 6;
  font-size: 0.6em;
  margin: 0px;
}

.password-alert {
  color: red;
}

.signup-submit {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

@media (min-width: 460px) {
  .signup-input, .password-message {
    grid-column: 2 / 5;
  }

  .password-message {
    font-size: 0.9em;
  }

  .signup-submit {
    grid-column: 3 / 4;
  }
}