.deck-div {
  background-color: white;
  border: 2px solid black;
  text-align: left;
}

.deck-div-title, .deck-div-author, .deck-div-size {
  margin: 0.5em;
}

.deck-div-title {
  font-size: 1.25em;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  word-wrap: break-word;
  color: black;
}

.deck-div-size {
  font-size: 0.9em;
}

.deck-div-author {
  font-weight: 600;
}

.deck-div>a, .deck-div>a:visited {
  color: white;
  text-decoration: none;
  color: black;
  transition-property: transform;
  transition-duration: 2s;
}

.deck-div:hover {
  box-shadow: 5px 10px;
  transform: translate(-10px, -5px)
}