/* ======= ENTRY FORM LAYOUT ====================================== */
.entry-form-container {
  display: grid;
  grid-template-rows: 60px 120px 80px;
  grid-template-columns: 10px repeat(3, 1fr) 10px;
  grid-row-gap: 20px;
  margin: 0 auto;
}

.term-input, .details-input {
  grid-column: 2 / 5;
}

.term-input {
  grid-row: 1 / 2;
}

.details-input {
  grid-row: 2 / 3;
  font-size: 1.25em;
  padding: 10px;
}

.entry-save {
  grid-column: 2 / 3;
}

.entry-add {
  grid-column: 4 / 5;
}

.entry-save, .entry-add, .entry-update {
  grid-row: 3 / 4;
  font-size: 1.5em;
}

.entry-update {
  grid-column: 3 / 4;
  font-size: 1.5em;
}

/* ======= MOBILE LAYOUT ====================================== */
@media (max-width: 500px) {
  .entry-form-container {
    grid-template-columns: 10px repeat(4, 1fr) 10px;
    grid-template-rows: 60px 120px 60px;
  }

  .term-input, .details-input {
    grid-column: 2 / 6;
  }
  
  .term-input {
    grid-row: 1 / 2;
  }

  .details-input {
    grid-row: 2 / 3;
  }
  
  .entry-save, .entry-add, .entry-update, .entry-delete {
    font-size: 1.25em;
    grid-row: 3 / 4;
  }

  .entry-save {
    grid-column: 2 / 4;
  }

  .entry-add {
    grid-column: 4 / 6;
  }

  .entry-update {
    grid-column: 3 / 5;
  }
}

/* ======= TABLET/DESKTOP LAYOUT ====================================== */
@media (min-width: 640px) {
  .entry-form-container {
    grid-template-columns: auto 25% 180px 25% auto;
  }
}