.entry-form-container {
  grid-template-rows: 60px 120px 80px;
}

.term-input, .details-input {
  grid-column: 2 / 5;
}

.term-input {
  grid-row: 1 / 2;
}

.details-input {
  grid-row: 2 / 3;
  font-size: 1.25em;
  padding: 10px;
}

.button-one {
  grid-column: 2 / 3;
}

.button-two {
  grid-column: 4 / 5;
}

.button-one, .button-two {
  grid-row: 3 / 4;
  font-size: 1em;
}

.save-entry {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  font-size: 1.5em;
}