/* =============== GLOBAL NAVBAR STYLES =============== */
nav {
  background-color: var(--flashy-blue);
  position: fixed;
  width: 100%;
  top: 0;
}

a>.nav-header {
  margin: 0 20px;
  padding: 0;
}

.nav-header {
  font-family: "Rokkitt", serif;
  color: var(--flashy-red);
  font-size: 5rem;
}

/* =============== MOBILE NAVBAR STYLES =============== */

.mobile-nav {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.nav-header {
  margin: 0px 20px;
}

.hamburger-image, .hamburger-close, .nav-link {
  cursor: pointer;
}

.hamburger-dropdown {
  position: fixed;
  right: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--flashy-yellow);
  font-size: 2em;
}

.hamburger-close {
  text-align: left;
  font-weight: 1000;
  margin: 20px 0px 0px 20px;
  cursor: pointer;
}

.nav-link, .nav-link:visited {
  color: var(--flashy-blue);
  text-decoration: none;
  cursor: pointer;
}

/* =============== DESKTOP NAVBAR STYLES =============== */

.desktop-nav {
  display: grid;
}

.desktop-nav > a,
.desktop-nav > a:visited {
  color: var(--flashy-yellow);
  text-decoration: none;
  font-size: 1.5em;
}

@media (min-width: 641px) {
  .desktop-nav {
    grid-template-columns: 1fr 2fr;
  }
  .nav-header {
    grid-column: 1 / 2;
    text-align: left;
  }

  .desktop-console {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
  }

  .nav-link, .nav-link:visited {
    color: var(--flashy-yellow);
    font-size: 1.5em;
  }
}

@media (min-width: 900px) {
  .desktop-nav {
    grid-template-columns: 1fr 1fr;
  }
}