/* =============== GLOBAL NAVBAR STYLES =============== */
nav {
  background-color: var(--flashy-blue);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

a>.nav-header {
  margin: 0 20px;
  padding: 0;
}

.nav-header {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 4rem;
}

.nav-header:hover, .desktop-console>a:hover {
  color: var(--flashy-purple);
}

.sign-out {
  font-weight: normal;
  text-transform: lowercase;
}

/* =============== MOBILE NAVBAR STYLES =============== */

.mobile-nav {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.nav-header {
  margin: 0px 20px;
}

.hamburger-image, .hamburger-close, .nav-link {
  cursor: pointer;
}

.hamburger-dropdown {
  position: fixed;
  right: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #bc94f3;
  font-size: 2em;
  padding-bottom: 0.25em;
  animation-name: slide-in;
  animation-duration: 0.5s;
}

@keyframes slide-in {
  from {
    right: -600px;
  } to {
    right: 0px;
  }
}

.hamburger-close {
  text-align: left;
  font-weight: 1000;
  margin: 20px 0px -20px 20px;
  cursor: pointer;
}

.nav-link, .hamburger-close, .sign-out {
  font-size: 0.75em;
}

.nav-link, .nav-link:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sign-out {
  background-color: #bc94f3;;
  color: black;
}

/* =============== DESKTOP NAVBAR STYLES =============== */

.desktop-nav {
  display: grid;
}

.desktop-nav > a,
.desktop-nav > a:visited {
  color: var(--flashy-yellow);
  text-decoration: none;
  font-size: 1.5em;
}

@media (min-width: 641px) {
  .desktop-nav {
    grid-template-columns: 1fr 2fr;
  }
  .nav-header {
    grid-column: 1 / 2;
    text-align: left;
  }

  .desktop-console {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
  }

  .nav-link, .nav-link:visited {
    color: black;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
  }

  .sign-out {
    background-color: var(--flashy-blue);
    color: black;
    font-size: 1.5em;
  }
}

@media (min-width: 900px) {
  .desktop-nav {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .nav-link, .sign-out {
    font-size: 1.5em;
  }
}