.signin-form {
  grid-template-rows: 1fr 1fr 50px;
}

.signin-username {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.signin-password {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.signin-submit {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}