.entry-div {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 120px;
}

.edit-link {
  font-size: .5em;
}

.entry-div-details {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  font-size: .5em;
  font-weight: 300;
}